/* VARIABLES */
:root {
  --clr-primary-dark: #071629;
  --clr-primary-light: #FFF;
  --clr-accent: #FF6565;
  --clr-link-hover: #FF6565;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-700: 2rem;
  --fs-800: 2.875rem;
}



/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

body {
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-dark);
  font-family: 'Source Sans 3', sans-serif;
  cursor: default;
  font-weight: var(--fw-regular);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--clr-primary-light);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.wrapper {
  /* outline: red 1px solid; */
  --max-width: 1000px;
  --padding: 3.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  height: 100%;
  margin-inline: auto;

  @media screen and (width < 480px) {
    --padding: 1.5rem;
  }
}




/* HEADER */
header {
  background-image: url("images/headphones_hero_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-primary-light);

  & > .wrapper {
    padding-block: 28px 115px;
  }
}

.hamburger-container {
  display: flex;
}

  #hamburger-checkbox {
    display: block;
  }
  
  .hamburger {
    font-size: 1.875rem;
    position: absolute;
    display: none;
  }


.top-links {
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
  }

  nav ul {
    width: 252px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (width < 480px) {
  .hamburger {
    display: block;
  }
  .top-links {
    flex-direction: column;
    .top-nav {
      flex-direction: column;
      display: block;
    }
  }

  .hamburger-container #hamburger-checkbox:checked ~ .hello {
    display: none;
  }
}


/* HERO */
.hero {
  padding-top: 308px;

  h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    line-height: 1.125;
  }

  .subheading {
    font-weight: var(--fw-bold);
    margin-bottom: 40px;
  }

  .btn {
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 2px 10px);
  }

  .info {
    --max-width: 637px;

    margin-top: 65px;
  }
}


/* WHAT WE DO */
.what-we-do {
  background-color: var(--clr-primary-light);

  & > .wrapper {
    padding-block: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    --max-width: 637px;

    h2 {
      font-size: var(--fs-700);
      font-weight: var(--fw-semibold);
    }

    p {
      margin-block: 40px 96px;
    }
  }

  .icons {
    --column-num: 4;

    @media screen and (width < 1000px) {
      --column-num: 2;
    }

    @media screen and (width < 480px) {
      --column-num: 1;
    }

    display: grid;
    grid-template-columns: repeat(var(--column-num), 207px);
    gap: 2.75rem;

    .card {
      width: 207px;
      margin-inline: auto;
    }

    i {
      font-size: 6rem;
      color: var(--clr-accent);
    }

    h3 {
      font-size: var(--fs-500);
      font-weight: var(--fw-semibold);
      margin-block: 0.5rem 0.75rem;
    }

    p {
      font-size: var(--fs-300);
    }
  }
}

/* RESULTS */
.results {
  background-image: url("images/headphones_hero_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-primary-light);

  & > .wrapper {
   padding-block: 141px 79px;
  }

  .info {
    --max-width: 637px;

    h2 {
      font-size: var(--fs-700);
      font-weight: var(--fw-semibold);
    }

    p {
      margin-block: 40px 56px;
    }
  }
}

.shapes {
  --column-num: 4;

  display: flex;
  justify-content: center;

  @media screen and (width < 1000px) {
    --column-num: 2;
  }

  @media screen and (width < 480px) {
    --column-num: 1;
  }


  display: grid;
  grid-template-columns: repeat(var(--column-num), 190px);
  gap: 2.75rem 4.75rem;

  .shape {
    width: 190px;
    height: 190px;
    margin-inline: auto;
    background-image: url(images/pentagon.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .percentage {
    margin-top: 3.75rem;
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
  }

  p {
    font-size: var(--fs-300);
  }
}



/* CONTACT */
.contact {
  background-color: var(--clr-primary-light);

  & > .wrapper {
   padding-block: 110px 130px;
  }

  h2 {
    font-size: var(--fs-700);
    font-weight: var(--fw-semibold);
  }
}

.form-contact {
  --max-width: 335px;
  
}

.form-fields {
  --max-width: 335px;

  display: grid;
  grid-template-columns: 1;
  gap: 2.875rem;

  font-size: var(--fs-300);
  font-weight: var(--fw-semibold);
  margin-block: 56px;

  input, textarea {
    border: none;
    /* color-mix used to add custom opacity to color variable */
    border-bottom: 1px solid color-mix(in srgb, var(--clr-primary-dark) 17.45%, transparent);
    padding-bottom: 1rem;
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
  }
}



/* FOOTER */
footer {
  color: var(--clr-primary-light);

  & > .wrapper {
   padding-block: 90px 39px;
   @media screen and (width < 480px) {
    padding-top: 40px;
   }
  }
}

.bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;

  @media screen and (width < 1000px) {
    margin-bottom: 58px;
    
  }
  @media screen and (width < 480px) {
    flex-direction: column;
    gap: 45px;
    margin-bottom: 42px;
  }
}

.social-icons {
  width: 130px;
  display: flex;
  justify-content: space-between;

  .icon i {
    font-size: 1.875rem;
  }
}


/* UTILITY/MISC */
.logo {
  width: 161px;
}

.btn {
  color: var(--clr-primary-light);
  background-color: var(--clr-accent);
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
  border-radius: 2rem;
  border: none;
}

.copyright {
  opacity: 0.3517;
}

